<form id="marionette-select">
	<select>
		<option>Prince</option>
		<option>Princess</option>
		<option>King</option>
		<option>Queen</option>
		<option>Huntsman</option>
		<option>Witch</option>
		<option>Wizard</option>
		<option>Frog</option>
		<option>Fairy</option>
	</select>
</form>
<div id="marionette-render"></div>